*.so
app
Enclave_Seal/*.h
Enclave_Seal/*.c
Enclave_Seal/*.o

Enclave_Unseal/*.h
Enclave_Unseal/*.c
Enclave_Unseal/*.o

.config_HW_DEBUG_x64

*.o
App/Enclave_Seal_u.h
App/Enclave_Seal_u.c

App/Enclave_Unseal_u.h
App/Enclave_Unseal_u.c